<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rencw.dao.mapper.UserMapper">

	<resultMap id="userResultMap" type="user">
		<id column="id" property="id"/>
		<result column="user_name" property="userName"/>
		<result column="password" property="password"/>
		<result column="password_salt" property="passwordSalt"/>
		<result column="locked" property="locked"/>
		<result column="is_delete" property="isDelete"/>
		<result column="gmt_create" property="gmtCreate"/>
		<result column="gmt_modify" property="gmtModify"/>
	</resultMap>
	
	<sql id="userColunms">
		id,user_name,password,password_salt,locked,is_delete,gmt_create,gmt_modify
	</sql>
	
	<insert id="createUser" parameterType="user" keyProperty="id" useGeneratedKeys="true">
		insert into users (user_name,password,password_salt,locked,is_delete,gmt_create,gmt_modify) 
		values(#{userName},#{password},#{passwordSalt},#{locked},#{isDelete},sysdate(),sysdate());
	</insert>
	
	<update id="changePassword">
		update users set password=#{0} where id=#{1}
	</update>
	
	<insert id="correlationRoles" parameterType="userRole" keyProperty="id" useGeneratedKeys="true">
		insert into users_roles(user_id,role_id) values (#{userId},#{roleId})
	</insert>
	
	<delete id="uncorrelationRoles">
		delete from users_roles where user_id=#{userId} and role_id=#{roleId}
	</delete>
	
	<select id="findByUserName" resultMap="userResultMap"> 
		select 
		<include refid="userColunms"></include>
		 from users where user_name=#{userName}
	</select>
	
	<select id="findById" resultMap="userResultMap"> 
		select 
		<include refid="userColunms"></include>
		 from users where id=#{id}
	</select>
</mapper>