<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
     <!-- 通过注释方式加入类（类必须在rcw路径下） -->
	<context:component-scan base-package="com.rencw.controller"/>
	<context:component-scan base-package="com.rencw.framework.controller"/>
	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxInMemorySize" value="4096" />
		<property name="maxUploadSize" value="524288000" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean id="appProperty"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>classpath:/conf/config.properties</value>
			</array>
		</property>
	</bean>
	
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
<!-- 	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" /> -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsp/"/>  
    	<property name="suffix" value=".jsp"/>
	</bean>

	<!-- Json输出 -->
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=utf-8</value>
						<value>text/html;charset=utf-8</value>
						<value>text/json;charset=utf-8</value>
						<value>application/json;charset=utf-8</value>
					</list>
				</property>
			</bean>
		</property>
	</bean>
	<!-- 静态资源过滤 -->
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/images/" mapping="/images/**"/>
	<mvc:resources location="/vendors/" mapping="/vendors/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	<!-- 系统首页 -->
	<mvc:view-controller path="/" view-name="redirect:/index.html"/>
	
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.rencw.framework.interceptor.ViewCommonInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 统一异常处理 -->
	<bean class="com.rencw.framework.CustomExceptionHandler">
		<property name="exceptionAttribute" value="ex"></property>
        <property name="defaultErrorView" value="redirect:/error.html"></property>
    </bean>
    
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
	    <property name="securityManager" ref="securityManager"/>
	</bean>
</beans>